:root{
    --mainText:'Oswald', sans-serif;
    --teal: #0CECDD;
    --yellow: #FFF338;
    --pink: #FF67E7;
    --purple: #C400FF;
    --gradiant: linear-gradient(to bottom right, var(--purple), var(--teal));
}
body{
    background-image: var(--gradiant);
}
.header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 60px;
    font-family: var(--mainText);
    color: var(--yellow);
    font-weight: bolder;
    text-decoration: none;
}
.H-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Hm-links{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    text-decoration: none;
    font-family: var(--mainText);
    color: var(--yellow);
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;;
} 

.index{
    display: flex;
    justify-content: center;
}
.iMain{
    border: solid;
    border-radius: 7px;
    text-align: center;
    width: 500px;
    font-family: var(--mainText);
    background-image: var(--gradiant);
    color:var(--yellow);
    font-size: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    text-align: center;
    border: solid;
    height:332px;
    width:350px;
    border-radius: 7px;
    margin: 25px;
    font-family: var(--mainText);
    color: var(--yellow);
}
.title{
    display: flex;
    justify-content: center;
    position: relative;
    left: 35px;
    top: -20px;
    border: solid;
    height: 50px;
    width: 275px;
    background-image: var(--gradiant);
    font-size: 20px;
    font-family: var(--mainText);
    color: var(--yellow);
    border-radius: 7px;
}
.codeBlock{
    position: relative;
    left: 2px;
    border: solid;
    width: 340px;
    height: 165px;
    border-radius: 7px;
    background-image: var(--gradiant);
}